{% extends 'base.html' %}

{% block header_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.css"/>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>BOOK LIST</h1>
        <button id="btn-create" class="btn btn-dark rounded">Create new</button>
    </div>
    <table id="books-table" class="table table-striped"
           data-url="{% url 'book:BookUpdateView' '0aab5494-7fb3-4e68-81ab-f52ed706335e' %}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available</th>
            <th>Total</th>
        </tr>
        </thead>
    </table>

    <script id="url-tag" data-url="{% url 'book:BookCreateView' %}"></script>
{% endblock %}

{% block js_block %}
    <script>
        let apiUrl = "{% url 'book:BookListApiView' %}"
        console.log(apiUrl)
        let table = new DataTable('#books-table', {
            serverSide: true,
            processing: true,
            pageLength: 4,
            lengthMenu: [ [4, 6, 8], [4, 6, 8] ],
            ordering: false,
            {#data: {{ books|safe }},#}
            ajax: function (data, callback, settings) {
                let page = Math.floor(data.start / data.length) + 1;
                let search = data.search.value;

                $.get(apiUrl, {page: page, page_size: data.length, search: search})
                    .done(function (res) {
                        console.log(res.results)
                        callback({
                            recordsTotal: res.count,
                            recordsFiltered: res.count,
                            data: res.results
                        });
                    })
                    .fail(function (err) {
                        console.error(err);
                        window.location.reload()
                    });
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row++;
                    }
                },
                {
                    data: 'title',
                    render: function (data, type, row, meta) {
                        let url_detail = $('#books-table').attr('data-url').replace('0aab5494-7fb3-4e68-81ab-f52ed706335e', row?.['id'])
                        return `<a href="${url_detail}">${data}</a>`
                    }
                },
                {
                    data: 'authors',
                    render: function (data, type, row, meta) {
                        if (data.length > 0) {
                            let authors = ""
                            data.forEach(function (author, index) {
                                authors += `${author['first_name']} ${author['last_name']} <br>`
                            })
                            return authors
                        } else
                            return '<div class="text-secondary">Updating ...</div>'
                    }
                },
                {data: 'available_copies'},
                {data: 'total_copies'}
            ]
        });

        $("#btn-create").on('click', function () {
            window.location.replace($("#url-tag").attr('data-url'))
        })
    </script>
{% endblock %}