{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <form class="w-100" id="update-form" data-method="PUT" data-url="{% url 'user:UserUpdateApiView' '0' %}"
                  data-url-redirect="{% url 'user:UserUpdateView' '0' %}">
                {% csrf_token %}
                <h1 class="mb-5">Detail User</h1>
                <div class="mb-4">
                    <img id="avatar" class="img-thumbnail rounded float-start mb-1" style="width: 300px; height: 300px; object-fit: cover;" alt="..." src="">
                    <div class="input-group" data-url="{% url 'user:UserUploadAvatarView' '0' %}" id="upload-avt-form">
                        <input type="file" class="form-control" id="inputAvtUpload" aria-describedby="uploadAvtBtn"
                               aria-label="Upload">
                        <button class="btn btn-secondary" type="button" id="uploadAvtBtn">Upload</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username_input" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username_input" name="username" disabled>
                </div>
                <br>
                <div class="form-group">
                    <label for="email_input" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email_input" name="email">
                </div>
                <br>
                <div class="form-group">
                    <label for="first_name_input" class="form-label">{% trans 'Firstname' %}</label>
                    <input type="text" class="form-control" id="first_name_input" name="first_name">
                </div>
                <br>
                <div class="form-group">
                    <label for="last_name_input" class="form-label">{% trans 'Lastname' %}</label>
                    <input type="text" class="form-control" id="last_name_input" name="last_name">
                </div>
                <br>
                <button type="submit" id="btn-update" class="btn btn-dark">Update</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
                    Delete User
                </button>
            </form>
        </div>
    </div>


    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you delete this user?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-delete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'user/js/detail_form.js' %}"></script>
{% endblock %}
