{% extends 'base.html' %}

{% block header_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.css"/>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>USER LIST</h1>
        <button id="btn-create" class="btn btn-dark rounded">Create new</button>
    </div>
    <table id="users-table" class="table table-striped" data-url="{% url 'user:UserUpdateView' '0' %}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
    </table>
    <script id="url-tag" data-url="{% url 'user:UserCreateView' %}"></script>
{% endblock %}

{% block js_block %}
    <script>
        let table = new DataTable('#users-table', {
            data: {{ users|safe }},
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row++;
                    }
                },
                {
                    data: 'username',
                    render: (data, type, row, meta) => {
                        let url_detail = $('#users-table').attr('data-url').replace('0', row?.['id'])
                        return `<a href="${url_detail}">${data}</a>`
                    }
                },
                {data: 'first_name'},
                {data: 'last_name'},
                {data: 'email'}
            ]
        });

        $("#btn-create").on('click', function () {
            window.location.replace($("#url-tag").attr('data-url'))
        })
    </script>
{% endblock %}
